.phantom {
    display: 'block';
    padding: '20px';
    height: '60px';
    width: '100%';
}

.logo {
    height: 3.5rem;
    background-color: #212529;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.menu {
    position: absolute;
    background-color: #495057;
    height: 3.5rem;
    width: 100%;
    left:0;
    bottom:0;
    text-align: center;

}

.menu-item {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    background-color: #495057;

}

.menu-item:hover {
    background-color: #495057;
}

.menu-item.active {
    background-color: black;
}